/* Fonts */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

/* Variables */

:root {
  /* colors */

  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-dark-gray: #323232;
  --extra-dark-gray: #5a5a5a;
  --extra-gray: #ababab;

  --page-bg-green: #849d8f;
  --page-bg-blue: #8996a6;
  --page-bg-brown: #9d8b84;

  --basic-link-color: var(--basic-white);
  --basic-link-hover-color: #ffbc9e;
  --extra-link-color: var(--basic-dark-gray);
  --extra-link-hover-color: #e84d37;

  --button-bg-color: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --button-bg-color-hover: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --button-bg-color-active: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.07),
      rgba(0, 0, 0, 0.07)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);

  --bg-form-color: #f8f7f4;
  --placeholder-form-color: #999999;

  --new-sub-bg-color: #f8f7f4;

  --button-bg-user-color: rgba(255, 255, 255, 0.2);
  --site-list-bg-active-color: #ededed;
  --site-list-bg-link-visit-color: #d07058;

  --submenu-link-hover-bg: #fbded7;
  --submenu-link-active-bg: #f6b5a5;
  --submenu-link-visit-bg: #d07058;

  --promo-bg-color-raspberries: #641228;
  --promo-bg-color-chocolate: #492715;

  --about-us-bg-color: #f0e4ce;

  --feedback-bg-color: #fefefe;

  /* shadows */
  --batton-shadow: rgba(172, 16, 0, 0.64);
  --button-text-shadow: rgba(160, 32, 11, 0.76);
  --button-active-shadow: inset 0px 2px 2px #942718;
  --site-list-active-shadow: inset 0px 2px 1px #696969;
  --popup-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  --button-filter-shadow: inset 0px 2px 1px #696969;

  /* borderds */
  --basic-link-border: 1px solid rgba(255, 255, 255, 0.2);
  --basic-link-hover-border: 1px solid rgba(255, 188, 158, 0.3);
  --extra-link-border: 1px solid rgba(50, 50, 50, 0.3);
  --extra-link-hover-border: 1px solid rgba(232, 77, 55, 0.3);

  --border-input-color: #d3d3d2;
  --border-input-hover-color: 2px solid rgba(178, 178, 178, 0.52);
  --border-input-focus-color: 2px solid rgba(46, 136, 228, 0.52);

  --blog-link-border: 2px solid #353535;
  --blog-link-hover-border: 2px solid rgba(232, 77, 55, 0.3);
  --border-input-feedback: rgba(178, 178, 178, 0.52);
  --button-filter-border: 2px solid #ffffff;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: none;
  color: var(--basic-white);
  background-color: var(--page-bg-green);
  background-image: url("../img/slider/slide_1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.page {
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 26px;
  background: var(--button-bg-color);
  box-shadow: 0px 2px 2px var(--batton-shadow);
  color: var(--basic-white);
  text-shadow: 0px 2px 5px var(--button-text-shadow);
  outline: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--button-bg-color-hover);
}

.button:active {
  background: var(--button-bg-color-active);
  box-shadow: var(--button-active-shadow);
}

.input {
  padding: 15px;
  font: inherit;
  line-height: 20px;
  color: var(--basic-dark-gray);
  outline: none;
  border: 1px solid var(--border-input-color);
  border-radius: 4px;
}

.input:hover {
  padding: 14px;
  border: var(--border-input-hover-color);
}

.input:focus {
  padding: 14px;
  border: var(--border-input-focus-color);
}

.input::-webkit-input-placeholder {
  color: var(--placeholder-form-color);
}

.input::-moz-placeholder {
  color: var(--placeholder-form-color);
}

.input:-moz-placeholder {
  color: var(--placeholder-form-color);
}

.input:-ms-input-placeholder {
  color: var(--placeholder-form-color);
}

.input:placeholder-shown {
  color: var(--placeholder-form-color);
}

.input::-webkit-input-placeholder {
  color: var(--placeholder-form-color);
}

.input:-ms-input-placeholder {
  color: var(--placeholder-form-color);
}

.input::-ms-input-placeholder {
  color: var(--placeholder-form-color);
}

.input::placeholder {
  color: var(--placeholder-form-color);
}

/* Nav */

/* Page-header */

.page-header {
  display: grid;
  margin-top: 9px;
  margin-bottom: 255px;
  grid-template-rows: min-content min-content;
  grid-template-columns: 154px 1fr 1fr;
  grid-template-areas:
    "logo site user"
    ". . contacts";
}

.page-header__logo-image {
  width: 154px;
  height: 64px;
}

.page-header__logo-link {
  grid-area: logo;
  border-bottom: none;
}

/* Site-list */
.site-list {
  margin: 0;
  padding: 0;
  display: flex;
  grid-area: site;
  list-style: none;
}
.site-list__item {
  padding: 20px 0;
  margin-left: 24px;
}

.site-list__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  outline: none;
  color: var(--basic-link-color);
  border-bottom: var(--basic-link-border);
}

.site-list__link:hover {
  padding: 9px 13px 11px 13px;
  color: var(--basic-dark-gray);
  background-color: var(--basic-white);
  border-radius: 26px;
}

.site-list__link:active {
  background: var(--site-list-bg-active-color);
  box-shadow: var(--site-list-active-shadow);
}

.site-list__link--active {
  padding: 9px 13px 11px 13px;
  color: var(--basic-white);
  border-radius: 26px;
  background: var(--site-list-bg-link-visit-color);
}

/* User-list */
.user-list {
  margin-top: 14px;
  padding: 0;
  display: flex;
  list-style: none;
  justify-self: end;
  grid-area: user;
}
.user-list__item {
  margin-left: 10px;
}

.user-list__open-popup {
  display: inline-block;
  padding: 9px 16px 0 45px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: var(--button-bg-user-color);
  border-radius: 20px;
  outline: none;
  color: var(--basic-link-color);
  border-bottom: var(--basic-link-border);
}

.user-list__open-popup:hover {
  color: var(--basic-dark-gray);
  background: var(--basic-white);
}

/* Search-form */
.search-form {
  display: none;
}

/* Contacts */

.contacts {
  text-align: end;
  grid-area: contacts;
}

.contacts__time {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.contacts__number {
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  /* text-align: end; */
  outline: none;
  border-bottom: none;
  color: var(--basic-link-color);
}

.contacts__number:hover,
.contacts__number:focus {
  color: var(--basic-link-hover-color);
}

/* Basket-popup */

.basket-popup {
  display: none;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-dark-gray);
  background-color: var(--bg-form-color);
  box-shadow: var(--popup-shadow);
}

.basket-table__image {
  border-radius: 50%;
}

.basket-table__quantity {
  color: var(--basic-black);
}

.basket-table__price-weight {
  color: var(--extra-gray);
}

.basket-popup__total {
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
}

/* Form */

.form {
  box-shadow: var(--popup-shadow);
  background-color: var(--bg-form-color);
}

/* Entrance */

.entrance {
  display: none;
}

.entrance__link {
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-dark-gray);
  border-bottom: var(--extra-link-border);
  outline: none;
}

.entrance__link:hover,
.entrance__link:focus {
  color: var(--extra-link-hover-color);
  border-bottom: var(--extra-link-hover-border);
}

.entrance__input {
  font-size: 14px;
  line-height: 16px;
}

/* Submenu */

.submenu {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--basic-white);
  border-radius: 4px;
  box-shadow: var(--popup-shadow);
}

.submenu__link {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark-gray);
  outline: none;
}

.submenu__link:hover {
  background-color: var(--submenu-link-hover-bg);
}

.submenu__link:active {
  background: var(--submenu-link-active-bg);
}

.submenu__link--active {
  color: var(--basic-white);
  background: var(--submenu-link-visit-bg);
}

.submenu__link--new {
  font-weight: 700;
}

/* Slider */

.slider {
  position: relative;
  text-align: center;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__title {
  margin: 0 auto;
  margin-bottom: 33px;
  width: 700px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slider__button {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  border-radius: 70px;
  margin-bottom: 35px;
}

.slider__controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider__label {
  display: inline-block;
  margin-right: 8px;
  width: 17px;
  height: 17px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

/* Promo */

.promo {
  margin-bottom: 40px;
}

.promo__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  list-style: none;
}

.promo__item {
  width: 560px;
  height: 229px;
  border-radius: 16px;
}

.promo__item--raspberries {
  background-image: url("../img/background/raspberries_back.jpg");
  background-color: var(--promo-bg-color-raspberries);
}

.promo__item--chocolate {
  background-image: url("../img/background/chocolate_back.jpg");
  background-color: var(--promo-bg-color-chocolate);
}

.promo__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.promo__content {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.promo__button {
  border-radius: 70px;
  text-align: center;
}

/* product */

.product__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.product__item {
  width: 267px;
}

.product__caption {
  text-align: center;
}

.product__image {
  width: 267px;
  height: 267px;
  border-radius: 50%;
}

.product__price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.product__price-weight {
  font-size: 30px;
  line-height: 35px;
}

.product__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  outline: none;
  color: var(--basic-link-color);
  border-bottom: var(--basic-link-border);
}

.product__link:hover,
.product__link:focus {
  color: var(--basic-link-hover-color);
  border-bottom: var(--basic-link-hover-border);
}

/* About-us */

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us {
  width: 1146px;
  color: var(--basic-dark-gray);
  border-radius: 16px;
  background-color: var(--about-us-bg-color);
  background-image: url("../img/background/wafer_back.jpg");
}

.about-us__description {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about-us__text {
  font-size: 16px;
  line-height: 22px;
}

/* Other */
.other {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
}

.other__item {
  width: 560px;
  height: 220px;
  border-radius: 16px;
}

/* Blog */
.blog {
  color: var(--basic-dark-gray);
  background-color: var(--basic-white);
  background-image: url("../img/background/strawberry_back.jpg");
}

.blog__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  color: var(--basic-dark-gray);
  outline: none;
  border-bottom: var(--blog-link-border);
}

.blog__link:hover {
  color: var(--extra-link-hover-color);
  border-bottom: var(--extra-link-hover-border);
  border-bottom-width: 2px;
}

.blog__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

/* new-sub */
.news-sub {
  background: var(--new-sub-bg-color);
}

.news-sub__label {
  color: var(--extra-dark-gray);
}

/* Map */
.map {
  min-height: 430px;
  background-image: url("../img/background/map_back.png");
  background-repeat: no-repeat;
  background-position: center;
}
/* Feedback */

.feedback {
  width: 303px;
  height: 306px;
  text-align: left;
  border-radius: 16px;
  background-color: var(--feedback-bg-color);
}

.feedback__text {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark-gray);
}

.feedback__text-strong {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark-gray);
}

.feedback__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark-gray);
  outline: none;
}

.feedback__link:hover,
.feedback__link:focus {
  color: var(--extra-link-hover-color);
}

/* Feedback-popup */

.feedback-popup {
  display: none;
}

.feedback-popup__input {
  border: 1px solid var(--border-input-feedback);
  resize: none; /*Для textarea */
}

.feedback-popup__form textarea {
  color: var(--placeholder-form-color);
}

.feedback-popup__title {
  color: var(--basic-dark-gray);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

/* Page-footer */

.page-footer {
  padding-top: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Social */
.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: start;
  gap: 12px;
  margin: 0;
  padding: 0;
  max-width: 350px;
  text-align: center;
  list-style: none;
}

.social__link {
  justify-content: start;
  outline: none;
  color: var(--basic-link-color);
}

/* Documents */

.documents {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: min-content min-content;
  justify-self: center;
  column-gap: 32px;
  row-gap: 2px;
  margin: 0;
  padding: 0;
  max-width: 550px;
  list-style: none;
}

.documents__link {
  font-size: 13px;
  line-height: 18px;
  outline: none;
  color: var(--basic-link-color);
  border-bottom: var(--basic-link-border);
}
.documents__link:hover {
  font-weight: 700;
}

/* Copyright */

.copyright {
  max-width: 300px;
  justify-self: end;
}

.copyright__text {
  font-size: 12px;
  line-height: 18px;
}

.copyright__link {
  outline: none;
  color: var(--basic-link-color);
  border-bottom: var(--basic-link-border);
}

.copyright__link:hover,
.copyright__link:focus {
  color: var(--basic-link-hover-color);
  border-bottom: var(--basic-link-hover-border);
}

.copyright__link-logo {
  border-bottom: none;
}

/* Catalog.html*/

/* Page-main */

.page-main__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

/* Breadcrumbs */

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 16px;
  outline: none;
  color: var(--basic-link-color);
  border-bottom: var(--basic-link-border);
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  color: var(--basic-link-hover-color);
  border-bottom: var(--basic-link-hover-border);
}

/* Filter-form */

.filter-form__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter-form__button {
  padding: 5px 25px 5px 25px;
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background: var(--button-bg-user-color);
  border: var(--button-filter-border);
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.filter-form__button:hover,
.filter-form__button:focus {
  background: var(--basic-white);
  color: var(--basic-black);
}

.filter-form__button:active {
  padding: 7px 27px 7px 27px;
  box-shadow: var(--button-filter-shadow);
  border: none;
}

.filter-form__fieldset {
  border: none;
}

.filter-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Pagination */

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagination__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
